* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

body,
html {
    width: 100%;
    height: 100%;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    padding-top: 45px;
    padding-left: 8px;
    padding: right 8px;
    background-color: lightblue;
    z-index: 1000;
   
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    font-weight: 900;
    font-size: 20px;

}

nav ul li a {
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    color: white;
}


nav ul li a.active,
a:hover {
    /* background-color: black; */
    color: black;
    opacity: 0.4s;
    border-radius: 34px;
    transition: .4s;
    transition: transform .4s;
}

#checkbtn,
label #cancel {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    display: none;

}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

#check:checked~label #checkbtn {
    display: none;
}

#check:checked~label #cancel {
    display: block;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    padding: 10px;
    background-color:wheat;
    opacity: 0.9;

}
.grid-item h1{
    color: black;
    font-size: 40px;
    text-align: center;

}
.grid-item p{
    color: black;
    font-size: 20px;
}
.img1{
    border-radius: 30px;
}
.btn{
background-color:rgb(161, 194, 183);
color: black;
font-size: 15px;
text-decoration: none;
border: 2px solid black;
font-weight: bold;
padding: 10px 25px;
border-radius: 30px;
transition: transform .4s; 

}
.btn:hover{
transform: scale(1.2);
}

.services {
    text-align: center;
    opacity: 0.8;
    color: black;

}

.img1 {
    border-radius: 50px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    background-color: wheat;
    grid-column-gap: 20px;
    opacity: 0.9;
    grid-row-gap: 30px;

}

.grid-item1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 20px;
}

.grid-item1 img:hover {
    transform: scale(1.04);
}

.grid-item1 h1 {
    text-align: center;
    text-decoration: underline;
}

.grid-item1 button {
    background-color: rgb(161, 194, 183);
    color: black;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin: 0 auto;

}

.grid-item1 button:hover {
    transform: scale(1.2);
}

body {
    font-family: 'roboto', sans-serif;
}

.sign-box {
    width: 360px;
    height: 627px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: wheat;

}

.container2 {
    background-image: url("img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    padding: top 15px;
}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(161, 194, 183);

}

.grid-container4 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: wheat;
    opacity: 0.8;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 30px 20px;
}

.grid-item3 {

    max-width: 800px;
    text-align: center;
}

.grid-item3 h2 {
    font-size: 36px;
    font-weight: 300;
}

.center {
    text-align: center;
    font-size: 15px;
    background-color: skyblue;
}