
@media (max-width:375px){
    .img1{
       width: 100%;
    }
}  
@media (max-width:818px){
    .grid-container{
        display: block;
    }
    
}
@media (max-width:564px){
    .grid-container1{
       display: block;
    }
    nav{
        height: 60px;
    }
    nav ul li{
        margin-top: 2px;
        font-size: 15px;
    }
    .grid-item h1{
        font-size: 20px;
    }
    .grid-item p{
        font-size: 15px;
    }
    .grid-item1 h1 {
        font-size: 25px;
    }
}
    
@media (max-width:682px){
    .grid-container1{
      display: block;
    }
    nav{
        height: 70px;
    }
    nav ul li{
        margin-top: 5px;
    }
    .grid-item h1{
        font-size: 30px;
    }
    .grid-item p{
        font-size: 18px;
    }
    .grid-item1 h1 {
        font-size: 25px;
    }
}
@media (max-width:507px){
    nav{
        height: 60px;
    }
    nav ul li{
        margin-top: 2px;
        font-size: 13px;
    }
    .grid-item h1{
        font-size: 15px;
    }
    .grid-item p{
        font-size: 10px;
    }
    .grid-item1 h1 {
        font-size: 20px;
    }
  
}
@media (max-width:501px){
    body{
        height: 100vh;
        width: 100vh;
    }
    nav{
        height: 70px;
    }
    nav ul li{
        margin-top: 15px;
        font-size: 20px;
    }
    .grid-item h1{
        font-size: 30px;
    }
    .grid-item p{
        font-size: 20px;
    }
    .grid-item1 h1 {
        font-size: 20px;
    }
    .btn{
        font-size: 15px;
        padding:  10px 25px;
    }
}






















































   
   
   
   
  